body{
	font-family: 'Share Tech Mono';
	font-size: 22px;
}
ul{
	width: 70%;
	margin: auto;
	display:table;
}
.header{
	background: #3b5998;
	text-align: center;
	color: white;
}
.header-alt{
	background: #d9534f;
	text-align: center;
	color: white;
}
.body{
	background: #8b9dc3;
}
.link-box{
	background:#8b9dc3;
}
.link-box-alt{
	background:#fb9fa4;
}

a{
	text-decoration:none;
}

.static-table{
    font-size:22px;
}
